<div class="container">
  <div class="row">
    <h1>Welcome, Please sign in or sign up to use the bookstore!</h1>
    <small>(Login or SignUp using the links in the top right corner)</small>
    <h3>For all and any book things.</h3>
    <br>
    <p>List of All Books: </p>
    <% @book.each do |books| %>
      <li>
        <%= books.title %>
        <%= books.description %>
      </li>
  <% end %>
  </div>
</div>