<div id="side-menu"  class="col-sm-3">
  <ul id="links-list">
    <%= link_to books_path do %>
    <i class="fa fa-user-circle-o" aria-hidden="true"></i> Find a book
  <% end %>
  <%= link_to genres_path do %>
    <i class="fa fa-user-circle-o" aria-hidden="true"></i> Find a genre
  <% end %>
  </ul>
</div><!-- side-menu -->